    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }
    
    input {
        outline: none;
    }
    
    html {
        scroll-behavior: smooth;
    }
    
    body {
        font-family: 'Open Sans', sans-serif;
        position: relative;
        background-color: #f2f2f2;
    }
    
    ul {
        list-style: none;
    }
    /* container  */
    
    .container {
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    /* small */
    
    @media (min-width:768px) {
        .container {
            width: 750px;
        }
    }
    /* medium */
    
    @media (min-width:992px) {
        .container {
            width: 970px;
        }
    }
    /* large */
    
    @media (min-width:1200px) {
        .container {
            width: 1170px;
        }
    }
    
    body {
        position: relative;
    }
    
    header {
        background-color: #000;
        padding-bottom: 21px;
        padding-top: 22px;
        position: fixed;
        width: 100%;
        height: 86.4px;
        z-index: 500;
        @media (max-width: 767px) {
            .containH {
                width: 100%;
            }
        }
        .containH {
            gap: 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            @media (max-width: 364px) {
                .logo {
                    width: 75%;
                }
            }
            .logo {
                img {
                    max-width: 100%;
                }
            }
            .links {
                position: relative;
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 600px;
                .abouthover {
                    position: relative;
                    i {
                        color: white;
                        font-size: 19px;
                        margin-left: 8px;
                        -webkit-transform: translateY(1px);
                        transform: translateY(1px);
                        position: absolute;
                        cursor: pointer;
                        right: -25px;
                        top: 50%;
                        transform: translatey(-50%);
                    }
                    @media (max-width:998px) {
                        i {
                            right: -20px;
                        }
                    }
                    // &:hover {
                    //     .hoverOnAbout {
                    //         display: block;
                    //         &:hover {
                    //             display: block;
                    //         }
                    //     }
                    // }
                    .testi {
                        opacity: 0;
                        position: absolute;
                        background: black;
                        left: -121px;
                        width: 128px;
                        height: 25px;
                        border-radius: 2px;
                        -webkit-transition: 0.3s;
                        transition: 0.3s;
                        border: 2.2px solid red;
                        line-height: 1.6;
                        &:before {
                            content: "";
                            width: 15px;
                            height: 30px;
                            background-color: black;
                            position: absolute;
                            z-index: 1;
                            top: -5px;
                            right: -10px;
                        }
                    }
                    .TestiIN {
                        &:hover {
                            .testi {
                                opacity: 1;
                            }
                        }
                    }
                }
                .hoverOnAbout {
                    opacity: 0;
                    position: absolute;
                    border-radius: 7px;
                    top: 50px;
                    width: 110px;
                    border: 2.2px solid red;
                    background-color: black;
                    color: white;
                    left: 50%;
                    transform: translateX(-50%);
                    display: none;
                    transition: 0.5s;
                    &::before {
                        content: "";
                        position: absolute;
                        border: 15px solid;
                        border-color: transparent transparent red transparent;
                        top: -31px;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                    li {
                        margin-top: 7px;
                        margin-left: auto;
                        margin-right: auto;
                        text-align: center;
                        position: relative;
                        // top: -150px;
                        a {
                            width: 100%;
                        }
                    }
                    .first-hover {
                        margin-top: 15px;
                    }
                    .last {
                        margin-bottom: 15px;
                    }
                }
                li {
                    a {
                        font-size: 13px;
                        line-height: 18px;
                        font-family: autour one, cursive;
                        color: #fff;
                        background: 0 0;
                        padding: 0;
                        -webkit-transition: all .2s ease;
                        -moz-transition: all .2s ease;
                        -o-transition: all .2s ease;
                        transition: all .2s ease;
                        text-transform: uppercase;
                        text-decoration: none;
                        &:hover {
                            color: #78c7ee;
                        }
                        &.active {
                            color: #78c7ee;
                        }
                    }
                    margin-right: 10px;
                }
            }
            @media (max-width: 767px) {
                .links {
                    display: none;
                }
            }
            .burgericon {
                display: none;
                color: white;
                width: 30px;
                transition: 0.3s;
                .burger-icon-to-x {
                    width: 30px;
                    height: 17px;
                    cursor: pointer;
                    position: relative;
                    span {
                        background-color: white;
                        height: 2.5px;
                        position: absolute;
                        width: 100%;
                        left: 0px;
                        transition: all 0.3s ease;
                    }
                    .num1 {
                        top: 0;
                    }
                    .num2 {
                        top: 7px;
                    }
                    .num3 {
                        top: 14px;
                    }
                }
                .x-icon-to-burger {
                    display: none;
                    width: 30px;
                    height: 17px;
                    cursor: pointer;
                    position: relative;
                    span {
                        height: 2.5px;
                        position: absolute;
                        width: 100%;
                        left: 0px;
                        transition: all 0.3s ease;
                    }
                    .num2 {
                        opacity: 0;
                    }
                    .num1,
                    .num3 {
                        top: 6px;
                        background-color: red;
                    }
                    .num1 {
                        transform: rotate(45deg);
                    }
                    .num3 {
                        transform: rotate(-45deg);
                    }
                }
            }
            @media (max-width:767px) {
                .burgericon {
                    display: block;
                }
            }
        }
        nav {
            transition: 0.4s;
            background-color: rgba(0, 0, 0, 0.85);
            box-shadow: 0 0 #000 10px;
            position: absolute;
            top: 86.4px;
            right: -100%;
            width: 50%;
            min-width: 235px;
            height: 100vh;
            .search,
            .links {
                margin-left: 15px;
                margin-top: 20px;
                margin-right: 15px;
            }
            .search {
                position: relative;
                input {
                    color: white;
                    width: 100%;
                    background-color: black;
                    border: none;
                    height: 40px;
                    outline: none;
                    &::placeholder {
                        padding-left: 8px;
                        color: rgba(255, 255, 255, 0.475);
                    }
                }
                i {
                    color: rgba(255, 255, 255, 0.475);
                    position: absolute;
                    right: 10px;
                    top: 50%;
                    transform: translatey(-50%);
                }
                &:focus-visible {
                    border: none;
                }
            }
            .links {
                li {
                    display: flex;
                    align-items: center;
                    margin-top: 5px;
                    height: 30px;
                    &:hover {
                        background-color: black;
                        a {
                            color: white;
                        }
                    }
                    a {
                        margin-left: 5px;
                        color: rgba(255, 255, 255, 0.75);
                        text-decoration: none;
                        transition: 0.3;
                    }
                }
                .about {
                    position: relative;
                    justify-content: space-between;
                    align-items: center;
                    i {
                        color: rgba(255, 255, 255, 0.75);
                        font-size: 20px;
                        position: absolute;
                        right: 10px;
                        cursor: pointer;
                    }
                    .fa-circle-up {
                        display: none;
                    }
                }
                .team {
                    position: relative;
                    justify-content: space-between;
                    align-items: center;
                    i {
                        color: rgba(255, 255, 255, 0.75);
                        font-size: 20px;
                        position: absolute;
                        top: 50%;
                        transform: translatey(-50%);
                        right: 10px;
                        cursor: pointer;
                    }
                    .fa-circle-up {
                        display: none;
                    }
                }
                .follow-about {
                    display: none;
                    margin-left: 15px;
                    overflow: hidden;
                    position: relative;
                    a {
                        transition: 0.3s;
                        position: absolute;
                        top: -10px;
                        transform: translatey(-50%);
                    }
                }
                .follow-team {
                    display: none;
                    margin-left: 30px;
                    position: relative;
                    overflow: hidden;
                    a {
                        position: absolute;
                        top: -10px;
                        transform: translatey(-50%);
                        transition: 0.3s;
                    }
                }
            }
        }
    }
    
    .imagesLanding {
        overflow: hidden;
    }
    
    .landing {
        width: 100%;
        height: 100%;
        position: relative;
        .images {
            display: flex;
            overflow: hidden;
            position: relative;
            z-index: -2;
            height: 100%;
            width: 100%;
            img {
                width: 100%;
                height: 100%;
            }
            .image1 {
                position: absolute;
                transition: 0.5s;
                width: 100%;
                height: calc(100% - 86px);
                top: calc(0px + 86.39px);
                left: 0%;
                img {
                    width: 100%;
                }
            }
            .image2 {
                position: absolute;
                transition: 0.5s;
                width: 100%;
                height: calc(100% - 86px);
                top: calc(0px + 86.39px);
                left: 100%;
                img {
                    width: 100%;
                }
            }
            .image3 {
                position: absolute;
                transition: 0.5s;
                width: 100%;
                height: calc(100% - 86px);
                top: calc(0px + 86.39px);
                left: 100%;
                img {
                    width: 100%;
                }
            }
        }
        .dots {
            display: flex;
            width: 100%;
            height: 30px;
            position: absolute;
            z-index: 2;
            justify-content: center;
            align-items: center;
            gap: 10px;
            span {
                width: 25px;
                height: 25px;
                border: 1.5px solid white;
                border-radius: 50%;
                transition: 0.4s;
                &:hover {
                    background-color: #77c7ee;
                    border: none;
                }
                &.active {
                    background-color: #77c7ee;
                    border: none;
                }
            }
        }
        // @media (max-width:642) {
        //     .dots {
        //         bottom: 15%;
        //     }
        // }
        @media (min-width:629px) {
            .dots {
                bottom: 45%;
            }
        }
        @media (min-width:768px) {
            .dots {
                bottom: 37%;
            }
        }
        @media (min-width:992px) {
            .dots {
                bottom: 30%;
            }
        }
        @media (min-width:1200px) {
            .dots {
                bottom: 25%;
            }
        }
    }
    
    .landingyahia {
        img {
            width: 100%;
            height: 100%;
        }
    }
    
    // strating section labrary students Schedule
    .all {
        background-color: white;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
        gap: 2px;
        // transform: translateY(-170px);
        >div {
            a {
                text-decoration: none;
                color: white;
            }
            .image {
                margin-top: 61px;
                display: flex;
                justify-content: center;
                img {}
            }
            h4 {
                font-size: 23px;
                padding: 35px 0 0;
                text-align: center;
                text-decoration: none;
                font-family: "Autour One", cursive;
                font-weight: 100;
            }
            p {
                padding: 5px 18px 10px;
                text-align: center;
                margin: 0;
                font-family: open sans, sans-serif;
                font-size: 13px;
                line-height: 18px;
                margin-bottom: 40px;
            }
            height: 306px;
        }
        .library {
            background-color: #6fb8dc;
            // .image {
            //     img {
            //         text-align: center
            //     }
            // }
            // h4 {}
            // p {}
        }
        .students {
            background-color: #e44f55;
            .image {
                img {}
            }
            h4 {}
            p {}
        }
        .schedule {
            background-color: #eb8420;
            .image {
                img {}
            }
            h4 {}
            p {}
        }
    }
    
    @media(max-width:320px) {
        .all {
            grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        }
    }
    
    .y {
        transform: translateY(-170px);
    }
    
    section {
        .header {
            text-align: center;
            background-color: white;
            h3 {
                margin-top: 21px;
                display: inline-block;
                padding: 16px 0 13px;
                margin-bottom: 30px;
                position: relative;
                font: 34px/40px'Autour One', cursive;
                color: #444;
                span {
                    &::before {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        width: 108px;
                        height: 2px;
                        background: #cecece;
                        left: 50%;
                        margin-left: -54px;
                    }
                }
            }
        }
    }